In [24]:
#Add Pandas
import pandas as pd

In [5]:
#files to load
school_data_to_load = "resources/schools_complete.csv"
student_data_to_load = "resources/students_complete.csv"

In [7]:
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df

In [8]:
student_data_df = pd.read_csv(student_data_to_load)
#student_data_df.head(10)

In [1]:
# Determine if there are any missing values in SCHOOL data
#school_data_df.isnull()

In [9]:
# Determine if there are missing values in STUDENT data
#student_data_df.notnull().sum()

In [10]:
# Determine data types for the school DataFrame
#school_data_df.dtypes

In [14]:
# determine data types for student dataframe
#student_data_df.dtypes

In [19]:
# Cleaning student names

# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "", regex = True)
    
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [22]:
print(school_data_df.columns)
print(student_data_df.columns)

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')
Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [27]:
#combine data frames into a single dataset
school_data_complete = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
# get total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [35]:
# get total number of schools
school_count = school_data_df['school_name'].count()
school_count

15

In [38]:
# use unique method to get total number of schools
school_count_2 = len(school_data_complete['school_name'].unique())
school_count_2

15

In [39]:
# get the total budget
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [41]:
# get the average scores
average_reading_score = school_data_complete['reading_score'].mean()
print(f"Reading: {average_reading_score}")

average_math_score = school_data_complete['math_score'].mean()
print(f"Math: {average_math_score}")

Reading: 81.87784018381414
Math: 78.98537145774827

In [55]:
#get percentage of students who passed math and reading

#create new dataframes of students who passed
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

#get the count of students passing
number_passing_math = passing_math['student_name'].count()
number_passing_reading = passing_reading['student_name'].count()

#calculate percentages
passing_math_percentage = (number_passing_math / student_count) * 100
passing_reading_percentage = (number_passing_reading / student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [61]:
# get percentage of students who passed BOTH

# create dataframe passing both
passing_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]

#find count passing both
count_passing_both = passing_both['student_name'].count()
print(count_passing_both)

#find percentage passing both
percentage_passing_both = (count_passing_both / student_count) * 100
print(percentage_passing_both)

25528
65.17232575950983

In [110]:
# create district summary dataframe
district_summary_dict = [{'Total Schools' : school_count, 'Total Students' : student_count, \
                         'Total Budget' : total_budget, \
                         'Average Math Score' : average_math_score, 'Average Reading Score' : average_reading_score, \
                          '% Passing Math' : passing_math_percentage, '% Passing Reading' : passing_reading_percentage, \
                          '% Overall Passing' : percentage_passing_both}]

district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [111]:
# format the summary

# format total students column to have a comma as a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# format total budget to have thousands separator and a $
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# format average reading score to one decimal place
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# format average math score to one decimal place
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

# format passing reading column to nearest whole percentage
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

# format passing math to whole percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

# format passing both to whole percentage
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [112]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [114]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [120]:
#determine school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [121]:
#add the per_school_types into a dataframe for testing
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [138]:
#calculate the total student count
#per_school_counts = (school_data_df.set_index(["school_name"])["size"])


per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [139]:
# get the budget per student
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [140]:
# find the school budget per student
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [147]:
# get math scores by school
student_school_math = student_data_df.set_index(["school_name"])["math_score"]

# use groupby() to find average scores by school
per_school_averages = school_data_complete.groupby(["school_name"]).mean()
#per_school_averages

# get average math and reading scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
#per_school_math

per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [165]:
# To get the passing percentages, we need to:
# 1. Determine what is the passing grade. ------->70
# 2. Get the number of students who passed math and reading.
# 3. Get the students who passed math and passed reading

per_school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
#per_school_passing_math

per_school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
#per_school_passing_reading

#Calculate the number of student passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
#per_school_passing_math

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

#calculate the percentage of students passing math and reading by school
per_school_passing_math = per_school_passing_math / per_school_counts * 100
#per_school_passing_math

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
#per_school_passing_reading

#calculate number of students passing both
per_passing_math_reading = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
#per_passing_math_reading.head()

per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
#per_passing_math_reading

#calculate percentage passing both
per_passing_math_reading = per_passing_math_reading / per_school_counts * 100
per_passing_math_reading

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [178]:
# create per school summary data frame including:
# type of school
# total students
# total budget
# budget per student per school
# avg math score
# avg reading score
# % passing math
# % passing reading
# % passing both

per_school_summary_df = pd.DataFrame({"School Type" : per_school_types, "Total Students" : per_school_counts, \
                                     "Total School Budget" : per_school_budget, "Per Student Budget" : per_school_capita, \
                                     "Average Math Score" : per_school_math, "Average Reading Score" : per_school_reading, \
                                     "% Passing Math" : per_school_passing_math, "% Passing Reading" : per_school_passing_reading, \
                                     "% Overall Passing" : per_passing_math_reading})
per_school_summary_df.head(10)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [179]:
# format Total School Budget and Per Student Budget columns to include $, a thousands separator and two decimal places
#.map("${:,.2}".format)

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)