In [24]:
#Add Pandas
import pandas as pd

In [5]:
#files to load
school_data_to_load = "resources/schools_complete.csv"
student_data_to_load = "resources/students_complete.csv"

In [7]:
school_data_df = pd.read_csv(school_data_to_load)
#school_data_df

In [8]:
student_data_df = pd.read_csv(student_data_to_load)
#student_data_df.head(10)

In [1]:
# Determine if there are any missing values in SCHOOL data
#school_data_df.isnull()

In [9]:
# Determine if there are missing values in STUDENT data
#student_data_df.notnull().sum()

In [10]:
# Determine data types for the school DataFrame
#school_data_df.dtypes

In [14]:
# determine data types for student dataframe
#student_data_df.dtypes

In [19]:
# Cleaning student names

# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "", regex = True)
    
student_data_df.tail(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [22]:
print(school_data_df.columns)
print(student_data_df.columns)

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')
Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [27]:
#combine data frames into a single dataset
school_data_complete = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
# get total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [35]:
# get total number of schools
school_count = school_data_df['school_name'].count()
school_count

15

In [38]:
# use unique method to get total number of schools
school_count_2 = len(school_data_complete['school_name'].unique())
school_count_2

15

In [39]:
# get the total budget
total_budget = school_data_df['budget'].sum()
total_budget

24649428

In [41]:
# get the average scores
average_reading_score = school_data_complete['reading_score'].mean()
print(f"Reading: {average_reading_score}")

average_math_score = school_data_complete['math_score'].mean()
print(f"Math: {average_math_score}")

Reading: 81.87784018381414
Math: 78.98537145774827

In [55]:
#get percentage of students who passed math and reading

#create new dataframes of students who passed
passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

#get the count of students passing
number_passing_math = passing_math['student_name'].count()
number_passing_reading = passing_reading['student_name'].count()

#calculate percentages
passing_math_percentage = (number_passing_math / student_count) * 100
passing_reading_percentage = (number_passing_reading / student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [61]:
# get percentage of students who passed BOTH

# create dataframe passing both
passing_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]

#find count passing both
count_passing_both = passing_both['student_name'].count()
print(count_passing_both)

#find percentage passing both
percentage_passing_both = (count_passing_both / student_count) * 100
print(percentage_passing_both)

25528
65.17232575950983

In [110]:
# create district summary dataframe
district_summary_dict = [{'Total Schools' : school_count, 'Total Students' : student_count, \
                         'Total Budget' : total_budget, \
                         'Average Math Score' : average_math_score, 'Average Reading Score' : average_reading_score, \
                          '% Passing Math' : passing_math_percentage, '% Passing Reading' : passing_reading_percentage, \
                          '% Overall Passing' : percentage_passing_both}]

district_summary_df = pd.DataFrame(district_summary_dict)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [111]:
# format the summary

# format total students column to have a comma as a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# format total budget to have thousands separator and a $
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# format average reading score to one decimal place
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# format average math score to one decimal place
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

# format passing reading column to nearest whole percentage
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

# format passing math to whole percentage
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

# format passing both to whole percentage
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [112]:
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65